<table class='table'>
    
    <tr>
      <%= image_tag customer.get_profile_image, size:'100x100' %>
    </tr>
    
    <tr>
        <% unless current_customer == customer %>
        <% if current_customer.following?(customer) %>
          <%= link_to "フォロー外す", customer_customer_relationships_path(customer.id), method: :delete, class: "btn btn-outline-primary btn-sm center-block md-2" %>
        <% else %>
          <%= link_to "フォローする", customer_customer_relationships_path(customer.id), method: :post, class: "btn btn-primary btn-sm center-block mt-2 mb-2" %>
        <% end %>
        <% end %>
    </tr>
    
    <tr>
      <th>
        <!--current_customer以外の名前も表示する！-->
        <%= customer.customer_name %>
      </th>
    </tr>
    
    <tr>
      <th>
        <%= customer.status_message %>
      </th>
    </tr>
    
    <tr>
      <th>フォロー数</th>
      <th><%= customer.followings.count %></th>
    </tr>
    
    <tr>
      <th>フォロワー数</th>
      <th><%= customer.followers.count %></th>
    </tr>
    
</table>


<div class='row'>
      <%= link_to edit_customer_customer_path(customer.id), class: "btn btn-outline-secondary btn-block" do %>
        プロフィールを編集する
      <% end %>
</div>


<div class= 'row'>
  <!--<%# unless current_customer == customer %>-->
  <!--  <%# if current_customer.following?(customer) %>-->
  <!--    <%#= link_to "フォロー外す", customer_relationships_path(customer.id), class: "btn btn-secondary", method: :delete %>-->
  <!--  <%# else %>-->
  <!--    <%#= link_to "フォローする", customer_relationships_path(customer.id), class: "btn btn-primary", method: :post %>-->
  <!--  <%# end %>-->
  <!--<%# end %>-->
</div>
