<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            
            <div class="form-group">
                <%= image_tag @cat_coffee_shop.get_image, size:'300x200' %>
            </div>
                        
            <div>
                店名/最寄り駅：<%= @cat_coffee_shop.cat_coffee_shop_location %>
            </div>
                        
            <div>
                タイトル：<%= @cat_coffee_shop.cat_coffee_shop_title %>
            </div>
            
            <div>
                投稿者名：
                <%= link_to customer_customer_path(@cat_coffee_shop.customer.id) do %>
                <%= @cat_coffee_shop.customer.customer_name %>
                <% end %>
            </div>
                        
            <div>
                紹介文：<%= @cat_coffee_shop.cat_coffee_shop_introduction %>
            </div>
            
            <div>
                <% if @cat_coffee_shop.customer == current_customer %>
                  <%= link_to "投稿を削除", customer_cat_coffee_shop_path(@cat_coffee_shop), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
                <% end %>
            </div>
            
            <div>
                <% if @cat_coffee_shop.customer == current_customer %>
                <%= link_to "投稿を編集する！", edit_customer_cat_coffee_shop_path(@cat_coffee_shop.id), class: "btn btn-lg btn-success center-block mt-2 mb-2" %>
                <% end %>
            </div>
            
            <div>
              <% if @cat_coffee_shop.favorited_by?(current_customer) %>
              <p>
                <%= link_to customer_cat_coffee_shop_cat_coffee_shop_favorites_path(@cat_coffee_shop), method: :delete do %>
                  いいニャしました！<i class="fa-solid fa-face-grin-hearts"></i><%= @cat_coffee_shop.cat_coffee_shop_favorites.count %>
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to customer_cat_coffee_shop_cat_coffee_shop_favorites_path(@cat_coffee_shop), method: :post do %>
                  いいニャする！<i class="fa-regular fa-face-grin-hearts"></i><%= @cat_coffee_shop.cat_coffee_shop_favorites.count %>
                <% end %>
              </p>
              <% end %>
              
              コメント件数：<%= @cat_coffee_shop.cat_coffee_shop_comments.count %>
            </div>
            
            <div>
              <table>
                <tbody>
                    <% @cat_coffee_shop.cat_coffee_shop_comments.each do |cat_coffee_shop_comment| %>
                      <tr>
                        <td>
                            <%= image_tag cat_coffee_shop_comment.customer.get_profile_image, size:'50x50' %>
                            <%= cat_coffee_shop_comment.customer.customer_name %>
                        </td>
                        
                        <td><%= cat_coffee_shop_comment.cat_coffee_shop_comment %></td>
                        
                        <td>
                          <% if cat_coffee_shop_comment.customer == current_customer %>
                            <%= link_to customer_cat_coffee_shop_cat_coffee_shop_comment_path(cat_coffee_shop_comment.cat_coffee_shop, cat_coffee_shop_comment), method: :delete, class: "btn btn-outline-danger btn-sm center-block mt-2 mb-2" do %>
                             コメントを削除
                            <% end %>
                          <% end %>
                        </td>
                        
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
            
            <div>
                <%= form_with model: [@cat_coffee_shop, @cat_coffee_shop_comment], url: customer_cat_coffee_shop_cat_coffee_shop_comments_path(@cat_coffee_shop), method: :post do |f| %>
                  <%= f.text_area :cat_coffee_shop_comment, placeholder: "コメント記入欄" %>
                      <%= f.submit "コメントを送信", class: "btn btn-primary btn-sm center-block mt-2 mb-2" %>
                <% end %>
            </div>
            
        </div>
    </div>
</div>