<h1>Customers::Customers#edit</h1>
<p>Find me in app/views/customers/customers/edit.html.erb</p>

<div class='container'>
    <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>プロフィール編集</h2>
            
            <%= form_with model: @customer, url: customers_customer_path, method: :patch do |f| %>
            <%#= form_with model: @customer do |f| %>
            
            <!--エラーメッセージの部分テンプレート呼び出し-->
            
                <div class="form-group">
                    <%= f.label :customer_name, "お名前" %>
                    <%= f.text_field :customer_name, placeholder: "ニックネームでも構いません", class: "form-control customer_name" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :profile_image, "プロフィール画像" %>
                    <%= f.file_field :profile_image, class: "form-control-file customer_image", accept: 'image/*' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :status_message, "ステータスメッセージ" %>
                    <%= f.text_area :status_message, placeholder: "20文字以内でお書きください", class: "form-control status_message" %>
                </div>
                
                <div class="actions">
                    <%= f.submit "プロフィールを更新！", class: "btn btn-outline-secondary btn-lg center-block mt-2 mb-2" %>
                </div>
            
            <% end %>
        </div>
    </div>
</div>