<div class='container'>
    <div class='row'>
        <h1 class="px-3 mx-auto">フォロワー 一覧</h1>
          <table class='table table-hover table-inverse'>
              <% if @customers.exists? %>
                <thead>
                  <tr>
                    <th></th>
                    <th>会員名</th>
                    <th>フォロー数</th>
                    <th>フォロワー数</th>
                    <th></th>
                  </tr>
                </thead>
                <% @customers.each do |customer| %>
                <tbody>
                  <tr>
                    <td><%= image_tag customer.get_profile_image, size: '60x60' %></td>
                    
                    <td>
                        <%= link_to customer_customer_path(customer.id) do %>
                        <%= customer.customer_name %>
                        <% end %>
                    </td>
                    
                    <td><%= customer.followings.count %> 人</td>
                    
                    <td><%= customer.followers.count %> 人</td>
                  </tr>
                </tbody>
                <% end %>
                
              <% else %>
                <div class='container mt-5'>
                    <div class='row'>
                        <div class='mx-auto'>
                            <h5>ユーザーはいません</h5>
                        </div>
                    </div>
                </div>
              <% end %>
          </table>
    </div>
</div>
