<table class='table table-hover table-inverse'>
  
  <thead>
    <tr>
      <th></th>
      <th>猫ちゃんの名前</th>
      <th>脱走範囲</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% lost_cats.each do |lost_cat| %>
      <tr>
        <td>
          <%= image_tag lost_cat.get_image, size:'70x70' %>
        </td>
        
        <td>
          <%= lost_cat.lost_cat_title %>
        </td>
        
        <td>
          <% lost_cat.lost_cat_range %>
        </td>
        
        <td id="lost_cat_favorite_buttons_<%= cat_coffee_shop.id %>">
          <% if lost_cat.favorited_by?(current_customer) %>
            <p>
              <%= link_to customer_lost_cat_lost_cat_favorites_path(lost_cat), method: :delete, remote: true do %>
              いいニャ数：<%= lost_cat.lost_cat_favorites.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to customer_lost_cat_lost_cat_favorites_path(lost_cat), method: :post, remote: true do %>
              いいニャ数：<%= lost_cat.lost_cat_favorites.count %>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>