<header>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
        
        <%= link_to root_path, class:"nav-link text-light" do %>
          <i class="fa-solid fa-paw"></i>
            保護猫プロジェクト
          <i class="fa-solid fa-paw"></i>
        <% end %>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              
              <% if customer_signed_in? %>
              <!--会員ログイン時-->
              
                <li>
                  <%= link_to customers_customer_path(current_customer.id), class:"nav-link text-light" do %>
                    <i class="fa-solid fa-house"></i>
                    マイページ
                  <% end %>
                </li>
                
                <li>
                  <%= link_to customers_lost_cats_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-cat"></i>
                    <i class="fa-solid fa-question"></i>
                    迷い猫情報
                  <% end %>
                </li>
                
                <li>
                  <%= link_to customers_cat_coffee_shops_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-cat"></i>
                    <i class="fa-solid fa-mug-saucer"></i>
                    みんなの保護猫カフェ
                  <% end %>
                </li>
                
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-hand-wave"></i>
                    ログアウトはこちら！
                    <i class="fa-solid fa-person-running"></i>
                  <% end %>
                </li>
              
              <% elsif admin_signed_in? %>
              <!--管理者ログイン時-->
                
                <li>
                  <%= link_to admins_customers_path, class:"nav-link text-light" do %>
                    会員一覧
                  <% end %>
                </li>
                
                <li>
                  <%= link_to admins_cat_coffee_shops_path, class:"nav-link text-light" do %>
                    保護猫カフェ一覧
                  <% end %>
                </li>
                
                <li>
                  <%= link_to admins_lost_cats_path, class:"nav-link text-light" do %>
                    迷い猫情報一覧
                  <% end %>
                </li>
                
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>
                    ログアウト
                  <% end %>
                </li>
              
              <% else %>
              <!--ログアウト時-->
              
                <li>
                    <%= link_to about_path, class:"nav-link text-light" do %>
                      <i class="fa-solid fa-cat"></i>
                      保護猫とは
                      <i class="fa-solid fa-book-bookmark"></i>
                    <% end %>
                </li>
                
                <li>
                    <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
                      <i class="fa-solid fa-hands"></i>
                      新規会員登録はこちら！
                      <i class="fa-solid fa-user-plus"></i>
                    <% end %>
                </li>
                
                <li>
                    <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
                      <i class="fa-solid fa-hands"></i>
                      すでに会員の方はこちら！
                      <i class="fa-solid fa-right-to-bracket"></i>
                    <% end %>
                </li>
                
              <% end %>
          </ul>
        </div>
        
    </div>
  </nav>
  
</header>